#Layout {
    -fx-grid-lines-visible: true;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 25;
    -fx-background-color: #ADD8E6;
}

#Buttons {
    -fx-pref-columns: 6;
    -fx-pref-tile-width: 75;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

#TitleLabel
{
    -fx-background-color: #FFFFFF;
}

.button {
    -fx-font: bold 10pt "sans-serif";
}

.label {
    -fx-background-color: #FFFFFF;
}

.text-field {
    -fx-background-color: #FCFF47;
}

.grid-pane {
    -fx-background-color: #FCFF47;
}
